.tieuDe{
    background-image: url("../Images/vot1.webp");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    width:100%;
    height: 150px;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tieuDe__child{
    color:aliceblue;
    font-size: 40px;
    font-weight: 700;
}
.tieuDe__child1{
color:aliceblue;
}